Link,
a,
a:hover {
  text-decoration: none;
  color: unset;
  padding: 0;
  margin: 0;
}

.movie-list-container {
  padding: 10px;
  overflow-x: hidden;
}

.movie-list-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 576px) {
  .movie-list-container {
    padding: 20px;
  }

  .movie-list-genre {
    justify-content: flex-start;
    margin-bottom: 40px;
  }

  .movie-list-select__control {
    margin-left: 20px;
  }
}

@media (min-width: 768px) {
  .movie-list-container {
    padding: 40px;
  }

  .movie-list-genre {
    margin-bottom: 40px;
    margin-top: 0;
  }

  .movie-list-select__control {
    margin-left: 20px;
  }
}

@media (min-width: 992px) {
  .movie-list-genre {
    margin-bottom: 40px;
  }
}

@media (min-width: 1200px) {
  .movie-list-genre {
    margin-bottom: 0;
  }
}

@media (min-width: 1400px) {
  .movie-list-container {
    padding: 40px 140px;
  }
}
